body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0fbff;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #cadefc;
    padding: 3rem 1rem;
    font-family: 'georgia', serif;
    font-size: larger;
    color: #3d0e61;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.148);
    margin-bottom: 2rem;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 10px;
   
   
  
}
.description h2 {
    color: #3d0e61;
    text-align: center;
    margin-top: 2rem;
}

.description p {
    text-align: center;
    margin: 0 auto 1rem auto;
    max-width: 760px;
    padding: 0 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 0 4px 8px rgba(102, 58, 123, 0.459);
background-color: #ffff;
}

.input-form h2 {
    color: #3d0e61;
    text-align: center;
    margin-top: 2rem;
}


.input-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Courier New', Courier, monospace;


}

.input-form label {
    font-size: 1.2rem;
    color: #3d0e61;
    
    


}

.input-form input,
.input-form select {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 200px;
    border-color: #3d0e61;
    outline: #3d0e61;
    color: #3d0e61;
   

}

.button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.button button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    background-color: #cadefc;
    color: #3d0e61;
    cursor: pointer;


}

.resetbutton:hover{
transform: scale(1.05);
    transition: transform 0.2s ease;
}


.result {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(102, 58, 123, 0.459);
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #ffff;


}

.result p {
    text-align: center;
    font-size: 1.5rem;
    color: #3d0e61;
}

.footer {
    text-align: center;
    padding: 1rem;
    color: #3d0e61;
    font-size: 0.9rem;
}